.menu {
  width: 40px;
  height: 40px;
  margin: 8px;
  margin-right: 40px;
  margin-bottom: 30px;
  background-color: grey;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
}
.menu div {
  width: 30px;
  height: 20px;
  margin-top: 8px;
  position: relative;
}
.menu span {
  background: #fff;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  display: block;
  position: absolute;
  top: 100%;
  left: 70%;
  transform: translate(-50%, 0%);
  transition: 0.7s;
}
.line span:first-child {
  width: 50%;
  transform: translateY(-10px);
}
.line span:last-child {
  width: 50%;
  transform: translate(-15px, 10px);
}
.openmenu .line span:first-child {
  width: 100%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.openmenu .line span:last-child {
  width: 100%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.openmenu .line span:nth-child(2) {
  width: 0;
}
